  <div class="container">
    <div class="row auth">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card z-depth-5">
          <div class="card-action">
            <h3 class="center-align"><i class="material-icons medium">location_on</i>SmartTracker</h3>
          </div>
          <div class="card-content">
            <div class="row">
              <form class="col s12" action="#">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="El correo no es valido" data-success="Ok"></span>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">phone</i>
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                    <span class="helper-text" data-error="Contraseña no valida" data-success="Ok">Helper text</span>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <label>
                      <input type="checkbox" />
                      <span>Recordarme</span>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button class="waves-effect waves-light btn right light-blue darken-4"><i class="material-icons right">gps_fixed</i>Entrar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
