<form class="login-form">
  <div class="row">
    <div class="input-field col s12 center">
      <h4>Register</h4>
      <p class="center">Join to our community now !</p>
    </div>
  </div>
  <div class="row margin">
    <div class="input-field col s12">
      <i class="material-icons prefix pt-5">person_outline</i>
      <input id="username" type="text">
      <label for="username" class="center-align">Username</label>
    </div>
  </div>
  <div class="row margin">
    <div class="input-field col s12">
      <i class="material-icons prefix pt-5">email</i>
      <input id="email" type="email">
      <label for="email" class="center-align">Email</label>
    </div>
  </div>
  <div class="row margin">
    <div class="input-field col s12">
      <i class="material-icons prefix pt-5">lock_outline</i>
      <input id="password" type="password">
      <label for="password">Password</label>
    </div>
  </div>
  <div class="row margin">
    <div class="input-field col s12">
      <i class="material-icons prefix pt-5">lock_outline</i>
      <input id="password-again" type="password">
      <label for="password-again">Password again</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <a href="index.html" class="btn waves-effect waves-light col s12">Register Now</a>
    </div>
    <div class="input-field col s12">
      <p class="margin center medium-small sign-up">Already have an account? <a href="page-login.html">Login</a></p>
    </div>
  </div>
</form>
