<form class="login-form">
  <div class="row">
    <div class="input-field col s12 center">
      <h4>Forgot Password</h4>
      <p class="center">You can reset your password</p>
    </div>
  </div>
  <div class="row margin">
    <div class="input-field col s12">
      <i class="material-icons prefix pt-5">person_outline</i>
      <input id="username" type="text">
      <label for="username" class="center-align">Username</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <a href="index.html" class="btn waves-effect waves-light col s12">Reset Password</a>
    </div>
    <div class="input-field col s12">
      <p class="margin sign-up"><a href="page-login.html">Login</a> <a href="page-register.html" class="right">Register</a></p>
    </div>
  </div>
</form>
