<nav class="blue-grey darken-1">
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center"><i class="material-icons medium">location_on</i>SmartTracker</a>
  </div>
</nav>

<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="https://images.pexels.com/photos/1078850/pexels-photo-1078850.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=100&w=168">
      </div>
      <a href="#user"><img class="circle" src="assets/images/user1.png"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div>
  </li>
  <li><a href="#!" class="waves-effect"><i class="material-icons">cloud</i>First Link</a></li>
  <li><a href="#!" class="waves-effect"><i class="material-icons">cloud</i>Second Link</a></li>
</ul>
