<div id="breadcrumbs-wrapper">
  <!-- Search for small screen -->
  <div class="header-search-wrapper grey lighten-2 hide-on-large-only">
    <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6">
        <h5 class="breadcrumbs-title">Dark Layout</h5>
      </div>
      <div class="col s12 m6 l6">
          <ol class="breadcrumbs right-align">
            <li><a href="index.html">Dashboard</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Dark Layout</li>
          </ol>
        </div>
    </div>
  </div>
</div>
